/* common shared style */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}
.width{
    width: 85%;
    margin: 0px auto;
}
.p_color{
    color: #FF5400;
}
.bold{
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}
/* --------------------------------------------------------------- */
/* navbar style logo part*/
.nav{
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    align-items: center;
}
.nav_logo{
    display: flex;
    align-items: center;
}
.nav_logo img{
    width: 20%;
    height: 70%;
    padding-right: 1rem;
}
.nav_logo h1{
    font-size: 2.4rem;
}
/* navbar style link Part */
.nav_link{
    display: flex;
    gap: 2.5rem;
}
.nav_icon{
    display: none;
}
.nav_link li{
    list-style: none;
}
.nav_link li a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
}
#first_child a{
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}
/* --------------------------------------------------------------- */
/* banner part style */
.banner{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 16px;
    height: 60vh;;
    text-align: center;
    position: relative;
    color: white;
}
.banner .banner_container{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}
.banner_container{
    border-radius: 16px;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

/* responsive design for mobile */
@media screen and (max-width:600px) {
    .nav_link{
        display:none;
    }
    .nav_icon{
        display: block;
    }
}