/* common shared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: "Mulish", sans-serif;
}

.width {
    width: 85%;
    margin: 0px auto;
}

.p_color {
    color: #FF5400;
}

.bold {
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.p_btn {
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    color: white;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

/* --------------------------------------------------------------- */
/* navbar style logo part*/
.nav {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo img {
    width: 20%;
    height: 70%;
    padding-right: 1rem;
}

.nav_logo h1 {
    font-size: 2.4rem;
}

/* navbar style link Part */
.nav_container {}

.nav_link {
    display: flex;
    gap: 2.5rem;
}

.nav_icon {
    display: none;
}

.nav_link li {
    list-style: none;
}

.nav_link li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
}

#first_child a {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

/* --------------------------------------------------------------- */
/* banner part style */
.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    height: 60vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_container {
    width: 85%;
}

.banner_container h1 {
    font-size: 3rem;
}

.banner_text p {
    padding-top: 1.4rem;
    padding-bottom: 4.5rem
}

.banner_input {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.banner_input input {
    width: 90%;
    padding: 1rem;
    border-radius: 8px;
    border: 0;
}

/* --------------------------------------------------------------- */
/* tour section style */
.tour {
    display: flex;
    margin: 6rem auto;
    gap: 3rem;
}

.tour_text {
    width: 45%;
}

.tour_text h1 {
    font-size: 2.5rem;
}

.tour_text p {
    padding: 1.5rem 0;
    color: rgba(19, 19, 24, 0.70);
}

.tour_text ul {
    padding-left: 2rem;
}

.tour_img {
    width: calc(100% - 45% - 3rem);
}

.tour_img img {
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------------------- */
/* destination section style */
.destination_text {
    text-align: center;
    width: 50%;
    margin: auto;
}

.destination_text h1 {
    font-size: 2.5rem;
}

.destination_text p {
    padding: 1.5rem 0;
    color: rgba(19, 19, 24, 0.70);
}

.destination_img .img img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.destination_img .row_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.destination_img .row_1 .img {
    position: relative;
}

.destination_img .row_1 .img p {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 800;
    color: white;
    top: 50%;
    right: 50%;
}

.destination_img .row_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.destination_img .row_2 .img {
    position: relative;
}

.destination_img .row_2 .img p {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 800;
    color: white;
    top: 50%;
    right: 50%;
}

.destination_img .row_3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.destination_img .row_3 .img {
    position: relative;
}

.destination_img .row_3 .img p {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 800;
    color: white;
    top: 50%;
    right: 50%;
}

/* --------------------------------------------------------------- */
/* choose us section */
.choose {
    margin: 3rem auto;
}

.choose_text {
    text-align: center;
    width: 50%;
    margin: auto;
}

.choose_text h1 {
    font-weight: 800;
    font-size: 2.5rem;
    color: #131318;
}

.choose_text p {
    padding: 1.5rem 0;
    color: rgba(19, 19, 24, 0.70);
}

.choose_container {
    display: flex;
    gap: 1.4rem;
}

.choose_cart_p {
    padding: 3rem 3rem 2rem 2rem;
    border-radius: 16px;
    width: 50%;
    height: 13rem;
}
.choose_cart_p i{
    color: #FF5400;
    font-size: 2rem;
}

.choose_cart_p h3 {
    padding: 2rem 0 1rem 0;
}

.choose_cart_1,.choose_cart_3 {
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose_cart_2{
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.choose_cart_3{
    margin: 1.5rem auto;
}

/* --------------------------------------------------------------- */
/* newsletter section style */
.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem auto;
}
.newsletter_input{
    padding: 1.5rem;
    border: 1px solid #FF5400;
    border-radius: 1rem;
    height: 100%;
    width: 40%;
}
.input_field_newsletter input{
    display: block;
    padding: .5rem;
    width: 95%;
    margin: 1rem 0 1rem 0;
    border: none;
    background-color: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
}
.input_field_newsletter button{
    width: 100%;
}
.newsletter_input p{
    padding: 1rem 0;
}

.newsletter_img{
    width: 50%;
    position:relative;
}
.newsletter_img img{
    width: 100%;
    height: 19rem;
}


.newsletter_text{
    background-color: #FF5400;
    width: 35%;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    transform: rotate(-19.628deg);
    left: 59%;
    bottom: 13%;
    overflow: hidden;
}
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */

/* responsive design for mobile */
@media screen and (max-width:600px) {
    .nav_link {
        display: none;
    }

    .nav_logo h1 {
        font-size: 1.4rem;
    }

    .nav_logo img {
        width: 10%;
        height: 50%;
        padding-right: .5rem;
    }

    .nav_icon {
        display: block;
    }

    .banner {
        height: 80vh;
    }

    .banner_input {
        flex-direction: column;
    }

    .banner_container,
    .destination_text,
    h1 {
        font-size: 1.4rem;
    }

    .banner_text p {
        font-size: .9rem;
        padding-top: .4rem;
        padding-bottom: 1.5rem
    }

    .tour {
        flex-direction: column;
        margin: 4rem auto;
    }

    .tour_text {
        width: 100%;
    }

    .tour_img {
        width: 100%;
    }

    .destination_text {
        width: 100%;
    }

    .destination_img .img img {
        width: 400px;
        height: 300px;
        /* max-height:120px; */
    }

    .destination_img .row_1 {
        flex-direction: column;
    }

    .destination_img .row_2 {
        flex-direction: column;
    }

    .destination_img .row_3 {
        flex-direction: column;
    }
    .choose_container{
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .choose_cart_p{
        padding: 1rem;
        border-radius: 16px;
        width: 100%;
    }
    .choose_cart_3{
        width: 80%;
        margin: auto;
        margin-top: 1rem;
    }
    .newsletter{
        flex-direction: column;
        margin: 2rem auto;
    }
    .newsletter_input{
        width: 85%;
    }
    .newsletter_img{
        width: 100%;
        position:relative;
    }
}